<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="upboard">
  	<insert id="add" parameterType="upvo">
  	insert into upboard values(upboard_seq.nextVal, #{title}, #{writer}, #{content}, #{imgn}, 0, #{reip}, sysdate)
  	</insert>
  	
  	<select id="list" resultType="upvo">
  	select * from upboard order by 1 desc
  	</select>
  	
  	<update id="hit" parameterType="int">
  	UPDATE upboard SET hit=hit+1 WHERE num=#{num}
  	</update>
  	
  	<delete id="del" parameterType="int">
  	DELETE FROM upboard WHERE num=#{num}
  	</delete>
  	
  	<update id="update" parameterType="upvo">
  	Update upboard set subject=#{subject}, writer=#{writer}, content=#{content}, reip=#{reip} where num=#{num}
  	</update>
  	
  	<select id="detail" parameterType="int" resultType="upvo">
  	select * from upboard where num=#{num}
  	</select>
  </mapper>
	