<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="upboard">
  	<insert id="add" parameterType="upvo">
  	insert into upboard values(upboard_seq.nextVal, #{title}, #{writer}, #{content}, #{imgn}, 0, #{reip}, sysdate)
  	</insert>
  	<!-- page process 1 -->
  	<select id="list" resultType="upvo" parameterType="map">
  		SELECT num,title,writer,imgn,hit,reip,bdate FROM (
		SELECT ROWNUM r_num, a.* FROM (
		SELECT num,title,writer,imgn,hit,reip,bdate FROM UPBOARD
		<if test="searchValue != null and searchType != null">
			<where>
				<choose>
					<when test="searchType == 1">
						title like '%'||#{searchValue}||'%'
					</when>
					<when test="searchType == 2">
						writer like '%'||#{searchValue}||'%'
					</when>
					<when test="searchType == 3">
						content like '%'||#{searchValue}||'%'
					</when>
				</choose>
			</where>
		</if>
		ORDER BY 1 DESC
		) a
		) WHERE r_num BETWEEN #{begin} AND #{end}
  	</select>
  	
  	<select id="totalCount" resultType="int" parameterType="map">
  		select count(*) cnt from upboard
  		<if test="searchValue != null and searchType != null">
			<where>
				<choose>
					<when test="searchType == 1">
						title like '%'||#{searchValue}||'%'
					</when>
					<when test="searchType == 2">
						writer like '%'||#{searchValue}||'%'
					</when>
					<when test="searchType == 3">
						content like '%'||#{searchValue}||'%'
					</when>
				</choose>
			</where>
		</if>
  	</select>
  	<select id="getItem" parameterType="int" resultType="upvo">
  		select * from upboard where num = #{num}
  	</select>
  	<update id="updateItem" parameterType="upvo">
  		Update upboard set title=#{title}, writer=#{writer}, content=#{content}, imgn=#{imgn}, reip=#{reip} where num=#{num}
  	</update>
  	<delete id="del" parameterType="int">
      delete from upboard where num = #{num}
   </delete>
   
  </mapper>
	