<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="upboard">
  	<insert id="add" parameterType="upvo">
  	insert into upboard values(upboard_seq.nextVal, #{title}, #{writer}, #{content}, #{imgn}, 0, #{reip}, sysdate)
  	</insert>
  	<!-- page process 1 -->
  	<select id="list2" resultType="upvo"
		parameterType="map">
		SELECT num,
		<choose>
			<when test="searchValue != null and searchType != null">
				<choose>
				<when test="searchType == 1">
				<![CDATA[ 
		     	 replace(title,#{searchValue},'<span class="searchCls">${searchValue}</span>') title,writer,
		       ]]></when>
				<when test="searchType == 2">
				<![CDATA[ 
		      title,replace(writer,#{searchValue},'<span class="searchCls">${searchValue}</span>') writer,
		       ]]></when>
				<when test="searchType == 3">title,writer,</when>
				<otherwise>
						title,writer,
				</otherwise>
				</choose>
			</when>
			<otherwise>
				title,writer,
			</otherwise>
		</choose>
		imgn,hit,reip,bdate FROM (
		SELECT ROWNUM r_num, a.* FROM (
		SELECT
		num,title,writer,
		imgn,hit,reip,bdate
		FROM upboard
		<if test="searchValue != null and searchType != null">
			<where>
				<choose>
					<when test="searchType == 1">
						title like '%'|| #{searchValue} ||'%'
					</when>
					<when test="searchType == 2">
						writer like '%'|| #{searchValue} ||'%'
					</when>
					<when test="searchType == 3">
						content like '%'|| #{searchValue} ||'%'
					</when>
				</choose>
			</where>
		</if>
		ORDER BY 1 DESC
		) a
		) WHERE r_num BETWEEN #{begin} AND #{end}
	</select>
	
	<select id="list" resultType="upvo"
		parameterType="map">
		SELECT num,
		<choose>
			<when test="searchValue != null and searchType != null">
				<choose>
				<when test="searchType == 1">
				<![CDATA[ 
		     	 replace(title,#{searchValue},'<span class="searchCls">${searchValue}</span>') title,writer,
		       ]]></when>
				<when test="searchType == 2">
				<![CDATA[ 
		      title,replace(writer,#{searchValue},'<span class="searchCls">${searchValue}</span>') writer,
		       ]]></when>
				<when test="searchType == 3">title,writer,</when>
				<otherwise>
						title,writer,
				</otherwise>
				</choose>
			</when>
			<otherwise>
				title,writer,
			</otherwise>
		</choose>
		imgn,hit,reip,bdate,cnt FROM
		(SELECT num, title, writer, imgn, hit, reip, bdate,
		(SELECT COUNT(*) FROM upboard_comm WHERE upboard_comm.ucode = upboard.num) AS cnt,
		ROW_NUMBER() OVER (ORDER BY num desc) AS row_num
		FROM upboard
		<if test="searchValue != null and searchType != null">
			<where>
				<choose>
					<when test="searchType == 1">
						title like '%'|| #{searchValue} ||'%'
					</when>
					<when test="searchType == 2">
						writer like '%'|| #{searchValue} ||'%'
					</when>
					<when test="searchType == 3">
						content like '%'|| #{searchValue} ||'%'
					</when>
				</choose>
			</where>
		</if>
		) numbered_rows
		WHERE row_num BETWEEN #{begin} AND #{end}
	</select>
  	
  	<select id="totalCount" resultType="int" parameterType="map">
  		select count(*) cnt from upboard
  		<if test="searchValue != null and searchType != null">
			<where>
				<choose>
					<when test="searchType == 1">
						title like '%'||#{searchValue}||'%'
					</when>
					<when test="searchType == 2">
						writer like '%'||#{searchValue}||'%'
					</when>
					<when test="searchType == 3">
						content like '%'||#{searchValue}||'%'
					</when>
				</choose>
			</where>
		</if>
  	</select>
  	<select id="getItem" parameterType="int" resultType="upvo">
  		select * from upboard where num = #{num}
  	</select>
  	<update id="updateItem" parameterType="upvo">
  		Update upboard set title=#{title}, writer=#{writer}, content=#{content}, imgn=#{imgn}, reip=#{reip} where num=#{num}
  	</update>
  	<delete id="del" parameterType="int">
      delete from upboard where num = #{num}
   </delete>
   <update id="hit" parameterType="int">
  	UPDATE upboard SET hit=hit+1 WHERE num=#{num}
  	</update>
   	<insert id="commAdd" parameterType="upcommvo">
   	insert into upboard_comm values(upboard_comm_seq.nextVal, #{ucode}, #{uwriter}, #{ucontent}, #{reip}, sysdate)
   	</insert>
   	<select id="commList" resultType="upcommvo">
   	select * from upboard_comm where ucode = #{ucode}
   	</select>
   	<select id="listComm" resultType="upcommvo" parameterType="map">
		SELECT * FROM (
		SELECT ROWNUM r_num, a.* FROM (
		SELECT * FROM upboard_comm where ucode = #{num}
		ORDER BY 1 DESC
		) a
		) WHERE r_num BETWEEN #{begin} AND #{end}
	</select>
	
	<select id="totalCountComm" resultType="int" parameterType="map">
		select count(*) cnt from
		upboard_comm 
		where ucode = #{num}
	</select>
  </mapper>
	