<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="fb">
  	<insert id="add" parameterType="fvo">
  	insert into survey values(survey_seq.nextVal, #{sub}, #{code}, sysdate)
  	</insert>
  	
  	<!-- 
  	1. parameterType = "java.util.list"
  	   dao.insert("addcontent", list)
  	2. survey_seeq.currVal 의 값을 처리하는 방법!
  			selectKey 문법 인지
  	3. 
  	   foreach 문법
  	   insert all -> open="insert all"
  	   	into surveycontent values('A',1,'온다',0)
		into surveycontent values('B',1,'안온다',0)	
		into surveycontent values('C',1,'모른다',0)
	   select * from dual; -> close = "select * from dual"
		
		for(VO e : arr)
  	 -->
  	
  	<insert id="addcontent" parameterType="java.util.list">
  		<selectKey keyProperty="id" resultType="int" order="BEFORE">
  			select survey_seq.currVal from dual
  		</selectKey>
  		<foreach collection="list" item="e" separator=" " open="insert all" close="select * from dual">
  			into surveycontent values(#{e.subtype}, #{id}, #{e.surveytitle}, 0)
  		</foreach>
  	</insert>
  	
  	<select id="list" resultType="fvo">     
  	</select>
  	
  	<update id="hit" parameterType="int">
  	UPDATE fboard SET hit=hit+1 WHERE num=#{num}
  	</update>
  	
  	<delete id="del" parameterType="int">
  	DELETE FROM fboard WHERE num=#{num}
  	</delete>
  	
  	<update id="update" parameterType="fvo">
  	Update fboard set subject=#{subject}, writer=#{writer}, content=#{content}, reip=#{reip} where num=#{num}
  	</update>
  	
  	<select id="detail" parameterType="int" resultType="fvo">
  	select * from fboard where num=#{num}
  	</select>
  </mapper>